---
layout: default
---
			<div class="row">
				<div class="col-sm-8">
						<article>
						<h4>{{ page.title }}</h4>
						<p>
						{{page.date | date: "%m-%d-%Y" }} by <a href="https://twitter.com/BrentonLeeEarl">{{ site.user }}</a>
						</p>
						{% include outdated_articles.html %}
						<p>
						Category <a href="/categories/{{page.category | downcase}}/">{{ page.category | downcase }}</a>
						</p>
						{{ content }}
					</article>
				</div>
				<div class="col-sm-4">
				{% include related_posts_widget.html %}
				</div>
			</div>
			{% include submit_pull_request.html %}
			{% include disqus_comments.html %}
