---
layout: default
---
			<div class="row">
				<div class="col-sm-8">
						<article itemscope itemtype="http://schema.org/Article">
						<h4 itemprop="name">{{ page.title }}</h4>
						<p>
							<span itemprop="datePublished" content="{{ page.date | date: "%m-%d-%Y" }}">{{page.date | date: "%m-%d-%Y" }}</span> by 
								<a href="https://plus.google.com/+Exitstatusone" rel="publisher">{{ site.user }}</a>
							</span>
						</p>
						{% include outdated_articles.html %}
						<p>
						Category <a href="/categories/{{page.category | downcase}}/">{{ page.category | downcase }}</a>
						</p>
						<span itemprop="articleBody">
							{{ content }}
						</span>
					</article>
				</div>
				<div class="col-sm-4">
				{% include related_posts_widget.html %}
				</div>
			</div>
			{% include submit_pull_request.html %}
			{% include disqus_comments.html %}
